<!DOCTYPE html>
<html>
  <head>
   <title>demo </title>
   <script src=><>
   <script>
     
   </script>
  </head>
  <body>
   <h1>Create Company</h1>
    Company Name<input type="text" id="cname" name="cname">
    Street 1<input type="text" id="str1" name="str1"/>
    Street 2<input type="text" id="str2" name="str2"/>
    City <input type="text" id="city" name="city"/>
    State <input type="text" id="state" name="state"/>
    Country<input type="text" id="country" name="country"/>
    PIN<input type="text" id="pin" name="pin"/>
   <button>Create Company</button>
  </body>
</html>