<!DOCTYPE html>
<html>
  <head>
   <title>demo </title>
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
   <script>
     
   </script>
  </head>
  <body>
   <h1>This is new page</h1>
   
   <button id="CCOMP_BUTTON">Create Company</button><br><br>
   <button>Create Ledger</button><br><br>
   <button>Create Ledger Item</button><br><br>
   <button>Ledger</button><br><br>
   <button>P&L</button><br><br>
   <button>Balance Sheet</button>
  </body>
</html>